@import "variable.scss";
@import "font.scss";
@import "index.scss";
@import "line-up.scss";
@import "tickets.scss";
@import "questions.scss";
@import "detail.scss";
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(asset/images/confe.jpg);
    background-size: cover;  
    background-attachment: fixed;
}